In [1]:
" MY FIRST NAME IS {} . MY LAST NAME IS {} . MY AGE IS {} . MY WEIGHT IS {} " .format ( "TOM" , "CRUISE" , 48 , 76.16 )

' MY FIRST NAME IS TOM . MY LAST NAME IS CRUISE . MY AGE IS 48 . MY WEIGHT IS 76.16 '

In [2]:
""" 
MY FIRST NAME IS {first} . 
MY LAST NAME IS {last} . 
MY AGE IS {age} . 
MY WEIGHT IS {weight} .
""" .format (  age=48 , weight=76.16 , first="TOM" , last="CRUISE" )

' \nMY FIRST NAME IS TOM . \nMY LAST NAME IS CRUISE . \nMY AGE IS 48 . \nMY WEIGHT IS 76.16 .\n'

In [3]:
"FOR LOOP"
val01 = [11,12,13,14,15,16,17,18]
val02 = []
for num in val01:
    val02.append (num**2)

print(val02)

[121, 144, 169, 196, 225, 256, 289, 324]

In [4]:
"WHILE LOOP"
val03 = 21 
while val03 <= 30 :
    print ( "THE VALUE IS {} " .format (val03) )
    val03 = val03 + 1

THE VALUE IS 21
THE VALUE IS 22
THE VALUE IS 23
THE VALUE IS 24
THE VALUE IS 25
THE VALUE IS 26
THE VALUE IS 27
THE VALUE IS 28
THE VALUE IS 29
THE VALUE IS 30

In [5]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(6,101,6))

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [7]:
def val04 (num) :
    square =  num * num
    return square

val04(16)

256

In [8]:
def my_name ( full_name = "ALAN WALKER" ) :
    print ( "MY NAME IS" , full_name )
    
my_name

In [9]:
my_name()

MY NAME IS ALAN WALKER

In [10]:
my_name("JUSTIN BIEBER")

MY NAME IS JUSTIN BIEBER

In [11]:
my_list = [11,12,13,14,15,16,17,18,19,20]
def my_func (num) :
    square =  num * num
    return square

map ( my_list , my_list )

In [12]:
list ( map ( my_func , my_list ) )

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [13]:
tuple ( map ( my_func , my_list ) )

(121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [14]:
set ( map ( my_func , my_list ) )

{121, 144, 169, 196, 225, 256, 289, 324, 361, 400}

In [15]:
my_lambda_01 = lambda num : num**3
my_lambda_01

In [16]:
my_lambda_01(12)

1728

In [17]:
my_list = [11,12,13,14,15,16,17,18,19,20]
list ( map ( my_lambda_01 , my_list ) )

[1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [18]:
my_lambda_02 = lambda num : num % 2 == 0 
my_lambda_02

In [19]:
filter ( my_lambda_02 , my_list )

In [20]:
list ( filter ( my_lambda_02 , my_list ) )

[12, 14, 16, 18, 20]

In [21]:
val05 = "my full name is TOM CRUISE # my age is FORTY FOUR # my country name is UNITED STATES # my city name is DALLAS"
val05.split()

['my',
 'full',
 'name',
 'is',
 'TOM',
 'CRUISE',
 '#',
 'my',
 'age',
 'is',
 'FORTY',
 'FOUR',
 '#',
 'my',
 'country',
 'name',
 'is',
 'UNITED',
 'STATES',
 '#',
 'my',
 'city',
 'name',
 'is',
 'DALLAS']

In [22]:
val05 = "my full name is TOM CRUISE # my age is FORTY FOUR # my country name is UNITED STATES # my city name is DALLAS"
val05.split("#")

['my full name is TOM CRUISE ',
 ' my age is FORTY FOUR ',
 ' my country name is UNITED STATES ',
 ' my city name is DALLAS']

In [23]:
val05 = "my full name is TOM CRUISE # my age is FORTY FOUR # my country name is UNITED STATES # my city name is DALLAS"
val05.split("#")[3]

' my city name is DALLAS'

In [24]:
list_tuple = [ (12,14,16) , ( 18,20,22) , (24,26,28) , (30,32,34) , (36,38,40) ]
list_tuple[4][0]

36

In [25]:
for num in list_tuple :
    print(num)

(12, 14, 16)
(18, 20, 22)
(24, 26, 28)
(30, 32, 34)
(36, 38, 40)

In [26]:
for a , b , c in list_tuple :
    print ( a , b , c )

12 14 16
18 20 22
24 26 28
30 32 34
36 38 40

In [27]:
def get_domain (email) :
    return email.split("@")[1]

get_domain ("user@gmail.com")

'gmail.com'

In [28]:
def find_dog (sentence) :
    return "dog" in sentence.lower().split()

find_dog ( "DOG RUNS FASTER THAN HUMANS" )

True

In [29]:
def find_dog (sentence) :
    return "dog" in sentence.lower().split()

find_dog ( "FOX RUNS FASTER THAN HUMANS" )

False

In [30]:
def count_dog (phrase) :
    count = 0
    for word in phrase.lower().split() :
        if word == "dog" :
            count = count + 1
    return count

count_dog ( "MY DOG NAME IS TOM MY DOG LIKES TO PLAY WITH BALL MY DOG IS 12 YEARS OLD MY DOG LIKES TO EAT BREAD" )

4

In [31]:
val06 = [ "FEW" , "FAB" , "HAD" , "HIS" ,  "FAN" , "FAX" , "HER" , "HEX" ]
my_lambda_03 = lambda word : word[0] == "F" 
list ( filter ( my_lambda_03 , val06 ) )

['FEW', 'FAB', 'FAN', 'FAX']

In [32]:
def caught_speeding ( speed , is_birthday ) :
    
    if is_birthday :
        speed = speed - 10
    else :
        speed
        
    if speed > 80 :
        return "BIG TICKET"
    elif speed > 60 :
        return "MEDIUM TICKET" 
    else :
        return "SMALL TICKET"
    
caught_speeding

In [33]:
caught_speeding ( 88 , True )

'MEDIUM TICKET'

In [34]:
caught_speeding ( 88 , False )

'BIG TICKET'

In [35]:
caught_speeding ( 64 , True )

'SMALL TICKET'

In [36]:
caught_speeding ( 64 , False )

'MEDIUM TICKET'